@model ASPMVC.Models.SaleAnnouncementModel

@{
    ViewBag.Title = "Usuwanie ogłoszenia";
}

<h2>Usuwanie ogłoszenia</h2>

<h3>Czy jesteś pewny, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nazwa produktu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            Nazwa sprzedawcy:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            Tytuł:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Ilość:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Status: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            Data wystawienia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Cofnij", "Index")
        </div>
    }
</div>
