@model IEnumerable<ASPMVC.Models.BasketViewModel>
@{
    ViewBag.Title = "BasketView";
}

<h2>Koszyk</h2>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Cena
        </th>
        <th>
            Ilość
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>

                @Html.ActionLink("Usuń z Koszyka", "BasketViewDeleted", new { id = item.ProductId })

            </td>
        </tr>
    }

</table>
@if (TempData["InsufficientStock"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["InsufficientStock"]
    </div>
}
else
{
    @Html.ActionLink("Zamów", "Order")
}


