
@{
    ViewBag.Title = "Index";
}

<h2>Panel administratora</h2>

<p>@Html.ActionLink("Zarządzaj kategoriami", "Index", "CategoryModels")</p>

<p>@Html.ActionLink("Zarządzaj opiniami", "Index", "OpinionModels")</p>

<p>@Html.ActionLink("Zarządzaj promocjami", "Index", "SpecialOfferModels")</p>

<p>@Html.ActionLink("Zarządzaj ogłoszeniami", "Index", "SaleAnnouncementModels")</p>

<p>@Html.ActionLink("Zarządzaj zamówieniami", "Index", "OrderModels")</p>

<p>@Html.ActionLink("Zarządzaj zamówionymi produktami", "Index", "OrderProducts")</p>

<p>@Html.ActionLink("Zarządzaj produktami", "Index", "ProductModels")</p>

<p>@Html.ActionLink("Zarządzaj koszykami", "Index", "BasketModels")</p>
