@model IEnumerable<ASPMVC.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

<h2>Zarządzanie produktami</h2>

<p>
    @Html.ActionLink("Stwórz nowy produkt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa kategorii
        </th>
        <th>
            Nazwa produktu
        </th>
        <th>
            Cena
        </th>
        <th>
            Czy usunięte?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
