@model SystemyBazDanychP1.Models.SaleAnnouncementModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SaleAnnouncementModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        @if (@ViewBag.Promotion.Count == 1)
        {
            <dt>
                Gratulacje produkt jest przeceniony na:
            </dt>
            <dd>
                - @ViewBag.Promotion[0].PromotionValue %
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-4"><input type="submit" value="Dodaj" class="btn btn-light" /></div>
            <div class="col-lg-8"></div>
        </div>
    }
    @Html.ActionLink("Back to List", "Index")

    @Html.ActionLink("Dodaj opinie", "Create", "OpinionModels", new { id = this.Model.Id }, new { @class = "nav-link" })
</p>
<h4>Opinie:</h4>
<div>
<dl>
    @foreach(var item in ViewBag.Opinions)
            {
        <dt>
            @item.ClientId
        </dt>
        <dd>
            @item.Description
        </dd>

            }
</dl>
</div>