@model IEnumerable<ASPMVC.Models.SaleAnnouncementModel>

@{
    ViewBag.Title = "Ogłoszenia";
}
<style>
    .search-input {
        width: 600px;
        padding: 8px;
        border-radius: 10px;
        margin: 5px;
    }
    .center-both {
        text-align: center; 
        vertical-align: middle; 
    }
    .center-horizontal {
        text-align: center;
    }
    tr:not(:first-child):hover {
        background-color: #d1d3d4;
    }
    
</style>
<div style="display: flex; justify-content: space-between;">
    <p style="text-align: left; margin: 0;">
        @Html.ActionLink("Nowości i promocje", "NewsPromotions", new { area = "" }, new { @class = "btn btn-light" })      
    </p>
    <h2 class="center-horizontal">Nasze produkty</h2>
    <p style="text-align: right; margin: 0;">
        Nasz sklep został odwiedzony już <strong>@ViewBag.VisitCount</strong> raz(y).
    </p>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "center-horizontal" }))
{
    <p>
        @Html.TextBox("searchString", null, new { placeholder = "Wyszukaj ogłoszenia", @class = "search-input" }) 
        @if (ViewBag.Categories != null && ViewBag.Categories is List<ASPMVC.Models.CategoryModel>)
        {
            var categories = ViewBag.Categories as List<ASPMVC.Models.CategoryModel>;
            @Html.DropDownList("selectedCategory", new SelectList(categories, "Id", "Name"), "Wybierz kategorię", new { @class = "category-dropdown" }) <br />
        }
        <input type="submit" value="Szukaj" class="btn btn-light" />
    </p>
}
<table class="table">
    <tr>
        <th class="center-both" >
            Zdjęcie
        </th>
        <th class="center-both">
            Nazwa produktu
        </th>
        <th class="center-both">
            Cena [zł]
        </th>
        <th class="center-both">
            Status
        </th>
        <th class="center-both">
            Data wystawienia
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="location.href='@Url.Action("Details", new { id = item.Id })';" style="cursor:pointer;">
            <td class="center-both">
                @foreach (var item2 in item.FilePaths)
                {
                    if (!string.IsNullOrEmpty(item2.Path))
                    {
                        <img src="@item2.Path" alt="Zdjęcie ogłoszenia" style="max-width: 200px; max-height: 200px; min-width: 150px; min-height: 150px" />
                    }
                    else
                    {
                        <span>Brak zdjęcia</span>
                    }
                    break;
                }
            </td>
            <td class="center-horizontal">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="center-horizontal">
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td class="center-horizontal">
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td class="center-horizontal">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>
