@model SystemyBazDanychP1.Models.OrderProduct

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie zamówionego produktu</h2>

<h3>Czy jesteś pewny, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Identyfikator użytkownika:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.ClientId)
        </dd>

        <dt>
            Nazwa produktu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            Cena:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Ilość:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Suma [zł]:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Cofnij", "Index")
        </div>
    }
</div>
