@model IEnumerable<SystemyBazDanychP1.Models.OrderProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Zarządzanie zamówionymi produktami</h2>


<table class="table">
    <tr>
        <th>
            Identyfikator użytkownika
        </th>
        <th>
            Nazwa produktu
        </th>
        <th>
            Cena
        </th>
        <th>
            Ilość
        </th>
        <th>
            Suma [zł]
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
