@model SystemyBazDanychP1.Models.SpecialOfferModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpecialOfferModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleAnnouncement.SellerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleAnnouncement.SellerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
