@model IEnumerable<SystemyBazDanychP1.Models.SpecialOfferModel>

@{
    ViewBag.Title = "Promocje";
}

<h2>Promocje</h2>

<p>
    @Html.ActionLink("Stwórz nową promocje", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tytuł
        </th>
        <th>
            Wartość promocji
        </th>
        <th>
            Data promocji
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaleAnnouncement.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |        
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
