@model SystemyBazDanychP1.Models.OrderModel

@{
    ViewBag.Title = "Usuwanie zamówienia";
}

<h2>Usuwanie zamówienia</h2>

<h3>Czy jesteś pewny, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Użytkownik:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            Data:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            Suma:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            Status:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń zamówienie" class="btn btn-default" /> |
            @Html.ActionLink("Cofnij", "Index")
        </div>
    }
</div>
