@model IEnumerable<ASPMVC.Models.OrderModel>

@{
    ViewBag.Title = "Zarządzanie zamówieniami";
}

<h2>Zarządzanie zamówieniami</h2>

<table class="table">
    <tr>
        <th>
            Nazwa użytkownika
        </th>
        <th>
            Data
        </th>
        <th>
            Suma [zł]
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
